	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/05/2020 09:55
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-heart:before { content: "\f100"; }
.flaticon-shopping-bag:before { content: "\f101"; }
.flaticon-search:before { content: "\f102"; }
.flaticon-loupe:before { content: "\f103"; }
.flaticon-magnifying-glass:before { content: "\f104"; }
.flaticon-star:before { content: "\f105"; }
.flaticon-right:before { content: "\f106"; }
.flaticon-left:before { content: "\f107"; }
.flaticon-bus:before { content: "\f108"; }
.flaticon-money-bag:before { content: "\f109"; }
.flaticon-support:before { content: "\f10a"; }
.flaticon-dress:before { content: "\f10b"; }
.flaticon-hanger:before { content: "\f10c"; }
.flaticon-teddy-bear:before { content: "\f10d"; }
.flaticon-balloon-hand-drawn-outline:before { content: "\f10e"; }
.flaticon-dress-1:before { content: "\f10f"; }
.flaticon-babies:before { content: "\f110"; }
.flaticon-dress-2:before { content: "\f111"; }
.flaticon-baby-dress:before { content: "\f112"; }
.flaticon-kindergarten-clothes:before { content: "\f113"; }
.flaticon-star-1:before { content: "\f114"; }
.flaticon-add:before { content: "\f115"; }
.flaticon-forbidden:before { content: "\f116"; }
.flaticon-remove:before { content: "\f117"; }
.flaticon-check:before { content: "\f118"; }
.flaticon-verified:before { content: "\f119"; }
.flaticon-location:before { content: "\f11a"; }
.flaticon-telephone:before { content: "\f11b"; }
.flaticon-envelope:before { content: "\f11c"; }